.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  width: 60px;
  height: 60px;
  border: none;
  background-color: #8182c0;
  /* cursor: pointer; */
  transition: all 150ms ease;
}

.button:hover {
  background-color: #9397b3;
}
