.field {
  display: inline-block;
}

.string {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 1px;
  /* background-color: rgb(147, 150, 122); */
}
